[Unit]
Description=Web App For Settings
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart={{HOME}}/ct-flows/scripts/app.sh
[Install]
WantedBy=multi-user.target