[Unit]
Description=Web App For Settings
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/{{USER}}/{{REPO_NAME}}/scripts/services/app.sh
[Install]
WantedBy=multi-user.target