[Unit]
Description=Pi Buttons
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/{{USER}}/{{REPO_NAME}}/.venv/bin/python /home/{{USER}}/{{REPO_NAME}}/src/button.py
[Install]
WantedBy=multi-user.target