[Unit]
Description=Pi Buttons
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart={{HOME}}/ct-flows/.venv/bin/python {{HOME}}/ct-flows/src/button.py
[Install]
WantedBy=multi-user.target