[Unit]
Description=Stats Display to OLED
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/{{USER}}/{{REPO_NAME}}/.venv/bin/python /home/{{USER}}/{{REPO_NAME}}/src/stats.py
[Install]
WantedBy=multi-user.target